<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/utility.js"></script>
    <script>
        $(document).ready(function () {
            create_slider_for_tc();
        });
    </script>
    <title>Geo-Distributed</title>
</head>

<body>
    <div class="container">
        <h1>Datacenter status</h1>
        <div class="row">
            <table class="table table-striped">
                <thead><td>Partition Id</td><td>DCList</td><td>CreateTimestamp</td><td>localRead</td><td>globalRead</td></thead>
                <tbody><td>1</td><td>1</td><td>5345</td><td>10</td><td>10</td></tbody>
            </table>
        </div>
        <h1>Traffic control</h1>
        <div class="row height-40">
            <div class="col-sm-4">
                <label for="pkg_loss_amount">Package loss percentage:</label>
                <input type="text" class="width-40" id="pkg_loss_amount" readonly style="border:0; color:#f6931f; font-weight:bold;" value="0">
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="pkg_loss_slider" class="margin-top-5"></div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary" onclick="update_pkg_loss()">Set</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row height-40 margin-top-10">
            <div class="col-sm-4">
                <label for="latency_amount">Network latency:</label>
                <input type="text" class="width-40" id="latency_amount" readonly style="border:0; color:#f6931f; font-weight:bold;" value="0">
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="pkg_latency_slider" class="margin-top-5"></div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary" onclick="update_latency()">Set</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row height-40 margin-top-10">
            <div class="col-sm-4">
                <label for="reorder_amount">Network reordering:</label>
                <input type="text" class="width-40" id="reorder_amount" readonly style="border:0; color:#f6931f; font-weight:bold;" value="0">
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="pkg_reorder_slider" class="margin-top-5"></div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary" onclick="update_reorder()">Set</button>
                    </div>
                </div>
            </div>
        </div>

        <h1>System info</h1>
        <div class="row">
            <div class="col-sm-1">
                <button class="btn btn-primary" onclick="show_tc()">TC setting</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" onclick="show_ping()">Ping</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" onclick="show_cpu()">CPU</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" onclick="show_bandwidth()">Bandwidth</button>
            </div>
        </div>
        <div class="row margin-top-20">
            <textarea class="col-sm-8" id="system_output"></textarea>
        </div>
    </div>
</body>
</html>